 .sidebar {
    background-color: white;
    color: black;
    position: fixed;
    top: 60px;
    bottom: 0;
    left: 0;
    width: 72px;
 }
 .side-bar-link {
    background-color: white;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    
 }
 .side-bar-link :hover {
    background-color: rgb(212, 211, 211);
 }
 .side-bar-link img {
    height: 34px;
 }