.companytittle {
    display: flex;
    margin-left: 100px;
    margin-top: 82px;
    margin-right: 0;
    height: 100px;
    background-color: white;
    align-items: center;
    justify-content: center;
}
@import url('https://fonts.cdnfonts.com/css/calligraphy-2');
.tittletext {
    font-size: 200px;
    font-weight: 500;
    font-family: 'Calligraphy', sans-serif
}
.caption {
    font-size: large;
    font-weight: 700;
    text-decoration: underline;
    display: grid;
}
.homebutton {
    width: 150px;
    height: 40px;
    color: black;
    background-color: white;
    margin-left: 30px;
    border-width: 2px;
    border-color: black;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
    
    
}
.homebutton:hover {
    box-shadow: 10px 10px 15px 15px rgba(black, black, black,);
    background-color: darkgray;
    transition: 500ms;
}
.newsbutton {
    width: 150px;
    height: 40px;
    background-color: white;
    margin-left: 150px;
    border-width: 2px;
    border-radius: 20px;
    font-weight: 700;
    cursor: pointer;
    border-color: black;


}
.newsbutton:hover {
    background-color: darkgray;
    transition: 500ms;
}
.aboutbutton {
    width: 150px;
    height: 40px;
    margin-left: 200px;
    border-width: 2px;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
    background-color: white;
    border-color: black;


}
.aboutbutton:hover {
    background-color: darkgray;
    transition: 500ms; 
}
.contactbutton {
    width: 150px;
    height: 40px;
    margin-left: 190px;
    border-width: 2px;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
    background-color: aliceblue;
    border-color: black;

}
.contactbutton:hover {
    background-color: darkgray;
    transition: 500ms;
}
 .underheader-buttons {
    display: flex;
    
    align-items: center;
    margin-left: 100px;
    margin-top: 30px;
    width: 1200px;
    height: 100px;
    border-radius: 100px;
    background-color: whitesmoke;
    

 }   
.forwelcome-grid-1 {
    display: grid;
    grid-template-rows: 180px 150px;
    background-color: white;
    margin-left: 80px;
}

.introtext1 {
    background-color: rgb(229, 226, 226);
}
.about-intro-text1 {
    font-size: large;
    font-weight: 500;
    padding-left: 540px;
}
.introtext2 {
    background-color: white;
    margin-top: 20px;
}
@import url('https://fonts.cdnfonts.com/css/modern-age');
.welcome-text {
    padding-left: 550px;
    padding-top: 10px;
    font-size: xx-large;
    font-weight: 700;
    font-family: 'Modern Age', sans-serif;
}
@import url('https://fonts.cdnfonts.com/css/angkest');
.description-text {
    padding-left: 300px;
    font-weight: 100;
    font-size: x-large;
    font-family: 'Angkest', sans-serif;
    
}
.grid-2 {
    background-color: rgb(226, 224, 224);
    margin-left: 80px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 725px 620px;
    height: 350px;
}

.photo1 {
    background-color: white;
    margin-left: 800px;
}
.cheapcredoimg {
    height: 350px;
}
.cheapcredo-link {
    text-decoration: underline;

}
.cheapcredo-link:hover {
    transition: 800ms;
    color: blue;
}
.container {
    min-height: 100%;
}
.main {
    overflow: auto;
    padding-bottom: 150px;

}
.footer1 {
    background-color: black;
    position: relative;
    height: 150px;
    width: 100%;
    margin-top: -150px;
    clear: both;
    padding-left: 0;
    padding-right: 0;


}